body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

.container {
    width: 300px;
    margin: auto;
}

input {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    background: white;
    margin: 5px;
    padding: 5px;
}